# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DJANGO-WORK\Dependent_Dropdown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
